
<% include ../pizzas/header %>


<style>
    * {
        box-sizing: border-box;
    }

    /* Create two unequal columns that floats next to each other */
    .column {
        float: left;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>


<div class="container">

    <!-- JUMBOTRON -->

    <div class="text-center">
        <div class="jumbotron">
            <h1>sirPizza</h1>
            <p class="lead">Share your favorite pizzas!</p>
        </div>
    </div>


    <!-- pizza Form -->
    <div class="container">

        <div class="row">

            <div class="column left jumbotron" style="background-color:#aaa;">
                <form action="/pizzas/save" method="post" enctype="multipart/form-data">

                    <p>Pizza Name</p>
                    <input type="text" class="form-control" placeholder="Pizza name">


                    <p>description:</p>
                    <textarea type="text" name="description"></textarea>

                    <p>Average Price:</p>
                    <input type="number" name="expense" />


                    <p>Image:</p>
                    <input type="file" name="picturePizza">
                    <input type="submit" value="submit resto" />

                </form>
            </div>

        </div>




    </div>

<% include ../pizzas/footer %>