<% include ../pizzas/header %>

<div class="container  mt-5">

  <!-- JUMBOTRON -->

  <div class="text-center">
    <div class="jumbotron">
      <h1>sirPizza</h1>
      <p class="lead">Share your favorite pizzas!</p>
    </div>
  </div>

  <!-- FINE JUMBOTRON -->

  <div class="container">
    <h1>Wellcome to create page</h1>

    <form action="/pizzas/save" method="post" enctype="multipart/form-data">

      <!-- first Div -->
      <div class="form-row justify-content-center">
        <div class="form-group col-md-1 ">
          <label >Name</label>
        </div>
        <div class="form-group col-md-4 ">
          <input type="text" class="form-control" name="name" placeholder="pizza Name">
        </div>
      </div>
      <!-- end div -->

      <!-- second Div -->
      <div class="form-row justify-content-center">
        <div class="form-group col-md-1 ">
          <label >Description</label>
        </div>
        <div class="form-group col-md-4 ">
          <textarea type="text" class="form-control" name="description"></textarea>
        </div>
      </div>
      <!-- end div -->

      <!-- third Div -->
      <div class="form-row justify-content-center">
        <div class="form-group col-md-1 ">
          <label >Ingredients</label>
        </div>
        <div class="form-group col-md-4">
          <% for(let i=0; i< ingredients.length; i++){ %>
            <input class="form-control" type="checkbox" name="ingredient" value="<%= ingredients[i]._id %>">
            <%= ingredients[i].name %>
          <% } %>

        </div>
      </div>
      <!-- end div -->



      <!-- fourth Div -->
      <div class="form-row justify-content-center">
        <div class="form-group col-md-1 ">
          <label >Difficulties</label>
        </div>
        <div class="form-group col-md-4 ">
          <input type="text" class="form-control" name="difficulties" />
        </div>
      </div>
      <!-- end div -->



      <!-- fifth Div -->
      <div class="form-row justify-content-center">
        <div class="form-group col-md-1 ">
          <label >Price avarage</label>
        </div>
        <div class="form-group col-md-4 ">
          <input type="number" class="form-control" name="22" />
        </div>
      </div>
      <!-- end div -->


      <!-- sixth Div -->
      <div class="form-inline justify-content-center">
        <div class="form-group col-md-1">
          <label >Image:</label>
        </div>
        <div class="form-group col-md-3 ">
          <input type="file" name="picturePizza" />
        </div>

        <input type="submit" value="submit resto" class="btn btn-info" />

      <!-- end div -->
    </form>

  </div>
</div>

<% include ../pizzas/footer %>