<% include ../pizzas/header %>

<div class="container p-3">
  <form
    action="/pizzas/save"
    method="post"
    enctype="multipart/form-data"
    class="p-5 m-4"
  >
    <div class="text-center p-3"></div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Name of the pizza"
        />
      </div>
    </div>
    <div class="form-row justify-content-center">
      <!-- <div class="form-group col-md-4"> -->
        <div class="form-check p-2">
        <% for(let i=0; i< ingredients.length; i++){ %>
        <input
        class="form-check-input" 
          type="radio"
          name="ingredient"
          value="<%= ingredients[i]._id %>"
          checked />
        <%= ingredients[i].name %> <% } %> />
      </label>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <textarea
          type="text"
          class="form-control"
          name="description"
          placeholder="Description"
        ></textarea>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input
          type="text"
          class="form-control"
          name="difficulties"
          placeholder="Difficulties"
        />
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input
          type="number"
          class="form-control"
          name="Price"
          placeholder="Price average"
        />
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input type="file" name="picturePizza" />
      </div>
      </div>
      <div class="form-row justify-content-center">
          <div class="form-group col-md-4">
        <input type="submit" value="submit resto" class="btn btn-info" />
      </div>
      </div>
    </div>
  </form>
</div>

<% include ../pizzas/footer %>
