<% include ../pizzas/header %>
<div class="container"  >
  <h1>title</h1>
  <form action="/pizzas/save" method="post" enctype="multipart/form-data">

    <div class="row">
      <div class="column" style="background-color:#aaa;">

        <p>Pizza Name</p>
        <input type="text" class="form-control" placeholder="Pizza name">


        <p>description:</p>
        <textarea type="text" name="description"></textarea>


        <p>Average Price:</p>
        <input type="number" name="expense" />



        <p>ingredients:</p>
        <% for(let i=0; i< ingredients.length; i++){ %>
          <input type="checkbox" name="ingredient" value="<%= ingredients[i]._id %>">
          <%= ingredients[i].name %>
        <% } %>


      </div>
    </div>
  </form>
</div>
<% include ../pizzas/footer %>


