<% include ../pizzas/header %>

<div class="container">
  <form
    action="/pizzas/save"
    method="post"
    enctype="multipart/form-data"
    class="p-5 m-4"
  >
    <div class="text-center p-3">
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Name of the pizza"
        />
      </div>
    </div>

    <!-- CHECKBOX CONTAINER -->
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <legend class="col-form-label col-sm-2 pt-0">
          Ingredients
        </legend>
        <!-- CHECKBOX INSIDE -->
        <div class="col-sm-10">
          <div class="form-check">
            <% for(let i=0; i< ingredients.length; i++){ %>
            <input
              class="form-check-input"
              type="radio"
              name="ingredient"
              id="gridRadios1"
              value="<%= ingredients[i]._id %>"
              checked
            />
            <label class="form-check-label" for="gridRadios1">
              tomato
              <!-- <%= ingredients[i].name %> <% } %> -->
            </label>
          </div>

        </div>
      </div>
    </div>
    <!-- FINE CHECKBOX CONTAINER -->

    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <textarea
          type="text"
          class="form-control"
          name="description"
          placeholder="Description"
        ></textarea>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input
          type="text"
          class="form-control"
          name="difficulties"
          placeholder="Difficulties: easy or hard?"
        />
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input
          type="number"
          class="form-control"
          name="expense"
          placeholder="Average price"
        />
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input type="file" name="picturePizza" class="btn btn-warning"/>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <input type="submit" value="save" class="btn btn-success" />
      </div>
    </div>
  </form>
</div>
