
  <div class="container-fluid text-center bg-warning p-2" style="font-size: 25px;">
    <div class="card-body">
      <!-- <p class="card-text"> -->
        <!-- With supporting text below as a natural lead-in to additional content.
        <br> -->
      <a href="">
        <i class="fab fa-facebook text-dark"></i>
      </a>
      <a href="/auth/twitter">
        <i class="fab fa-twitter-square text-dark"></i>
      </a>
    <!-- </p> -->
    </div>
  </div>
</body>
</html>