
  <div class="container-fluid text-center bg-warning">
    <!-- <div class="card-body"> -->
      <!-- <p class="card-text"> -->
        <!-- With supporting text below as a natural lead-in to additional content.
        <br> -->
      <a href="/auth/facebook" class="btn"><span class="fa fa-facebook"></span></a>
      <a href="/auth/twitter" class="btn"><span class="fa fa-twitter"></span></a>
    <!-- </p> -->
    <!-- </div> -->
  </div>
</body>
</html>