
  <div class="card text-center bg-warning p-1 fixed-bottom">
    <div class="card-body">
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span></a>
      <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span></a>
    </div>
  </div>
</body>
</html>