<!DOCTYPE html>
<html>
  <head> 
      <meta charset="UTF-8" />
      <title>sirPizza</title>
    <!-- BOOTSTRAP -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/litera/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-DkdUb51XC4VPExQljj9mtMYspLBzNJscXpAnuo0rcJcLd7aeOH3jnz6cS1v8OFMW"
      crossorigin="anonymous"></link>
  <!-- FONT AWESOME -->
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
      rel="stylesheet" 
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
      crossorigin="anonymous"></link>
  </head>
  <body>
    <div class="text-right bg-white">
      <a href="/" class="btn btn-default m-3"
        ></span>Home</a
      >
     
      <a href="/auth/facebook" class="btn btn-primary"
        ><span class="fa fa-facebook">fb</span></a
      >
      <a href="/auth/twitter" class="btn btn-info"
        ><span class="fa fa-twitter">tw</span></a
      >
    </div>
