<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>sirPizza</title>
  <!-- BOOTSTRAP -->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/litera/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-DkdUb51XC4VPExQljj9mtMYspLBzNJscXpAnuo0rcJcLd7aeOH3jnz6cS1v8OFMW" crossorigin="anonymous">
  </link>
  <!-- FONT AWESOME -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </link>
</head>

<body>
  <div>
    <div class="container-fluid navbar bg-warning p-1 fixed-top">
      <!-- justify-content-between -->
      <div class="container">
        <!-- LOGO -->
        <a href="/" class="navbar-brand font-weight-bold bg-warning">
          sirPizza
        </a>
        <!-- LIST PIZZAS -->
        <div>
          <a class="btn font-weight-bold" href="/pizzas/list">All pizzas</a>
          <!-- LOGIN -->
          <a href="/loggin" type="button" class="btn btn-dark font-weight-bold active">
            Login
          </a>
          <!-- SIGNIN -->
          <button href="/" type="button" class="btn btn-dark font-weight-bold active">
            Sign In
          </button>
        </div>
      </div>
    </div>