<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>sirPizza</title>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-DkdUb51XC4VPExQljj9mtMYspLBzNJscXpAnuo0rcJcLd7aeOH3jnz6cS1v8OFMW"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Anton|Staatliches" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">

</head>

<body>
  <div>
    <div class="container-fluid navbar bg-warning p-1 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand text-dark" style="font-family: 'Anton', sans-serif; font-family: 'Staatliches', cursive; font-size: 35px;">
          <!-- <img src="https://www.logomoose.com/wp-content/uploads/2017/06/logomoosepizza-mane.png" width="60" height="40" class="d-inline-block align-top" alt=""> -->
          sirPizza
        </a>
        <div class="text-dark card-link" style="font-family: 'Anton', sans-serif; font-size: 18px;">
          <a href="/pizzas/list" class="card-link text-dark p-3" style="font-family: 'Anton', sans-serif;"">
            Recipes
          </a>
          <a href="/loggin" class="text-dark">
          <i class="fas fa-user-circle"></i>
          Log in
          </a> 
         <a href="/" class="text-dark p-3"> <i class="fas fa-user-circle"></i> Sign In
         </a> 
  
        </div>
      </div>
    </div>
  </div>