<h1>Sign Up Form - register page</h1>

<form method="POST" action="/register">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button>Submit</button>
</form>

<li><a href="/pizzas/register">Sign Up</a></li>
<li><a href="/logout">Logout!</a></li>
<li><a href="/pizzas/login">Login!</a></li>
