<% include ../pizzas/header %>

<div class="container">
  <!-- JUMBOTRON -->
  <div class="text-center">
    <div class="jumbotron">
      <h1>sirPizza</h1>
      <!-- <p class="lead">Share your favorite pizzas!</p> -->
    </div>
    <h3>
      <a href="/pizzas/create">
        Pizza not found!
      </a>
    </h3>
  </div>

  <!-- FINE JUMBOTRON -->

  <% include ../pizzas/footer %>
</div>
