
<div class="form-inline justify-content-center">
        <div class="position-absolute">
            <input type="text" placeholder="Pizza today?" class="form-control mr-sm-2" />
            <button onclick="search()" class="btn btn-warning my-2 my-sm-0 font-weight-bold" type="submit">Search</button>
        </div>
        <img src="https://previews.123rf.com/images/romastudio/romastudio1602/romastudio160200131/51686551-pizza-heart-shape-with-ingredients-and-copy-spase-on-vintage-background-happy-valentines-day-love-co.jpg" class="card-img" alt="">
    </div> 

 </body>
</html> 