<!DOCTYPE html>
<html>

<head>
  <title>Pizza home page</title>
</head>

<body>
  pizzza Page

  <h1>Hey I am an H1</h1>
  <% for (var i=0; i<frontendValue.length; i++) { %>
    <%= JSON.stringify(frontendValue[i].name) %>
    <%= frontendValue[i].expense %>
    <%= frontendValue[i].ingredients %>
    <%= frontendValue[i].difficulties %>
<% } %>
</body>;

</html>